.header-title-container {
    margin-top: 20px;
    margin-left: 120px;
}

.header-title-container h1 {
    color: var(--very-text);
    font-weight: 750;
    margin-bottom: 0;
}

.header-title-container p {
    color: var(--text);
    font-size: small;
    font-weight: 600;
    margin-top: 0;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 200px;
    background-color: var(--top-bg);
    border-radius: 0 0 30px 30px;
}

.change-mode-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -50px;
    margin-left: 65%;
}

.change-mode-button-container p {
    font-size: 10px;
    font-weight: 750;
    color: var(--very-text);
}

/* Hiding the default checkbox */
input[type="checkbox"] {
    width: 50px;
    height: 25px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Outer switch container */
label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* Outer circle (switch container) */
label::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 25px;
    background: var(--button-bg);
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
}

/* Inner Circle (toggle button) */
label::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    background-color: var(--card-bg);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* When activated (checked), move the inner circle to the right */
input[type="checkbox"]:checked+label::after {
    transform: translateX(24px);
    /* Shift right */
    background-color: var(--card-bg);
}

/* Changing the external background upon activation */
input[type="checkbox"]:checked+label::before {
    background-color: var(--text);
    border-color: var(--text);
}

/* Hover effect on outer container */
label:hover::before {
    border-color: var(--very-text);
}

@media (max-width: 450px) {
    .header-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 200px;
        background-color: var(--top-bg);
        border-radius: 0 0 30px 30px;
    }

    .header-title-container {
        margin: 20px 20px 0 20px;
        height: 90px;
        border-bottom: 1px solid var(--text);
    }

    .header-title-container h1 {
        color: var(--very-text);
        font-size: 25px;
        font-weight: 750;
        margin-bottom: 3px;
    }

    .change-mode-button-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
    }

    .change-mode-button-container p {
        font-size: 12px;
        color: var(--text);
        margin-right: 60%;
    }
}