.social-media-card-container {
    width: 292px;
    height: 250px;
    background-color: var(--card-bg);
    color: var(--very-text);
    border-radius: 5px;
}

.social-media-card-container:hover {
    filter: brightness(0.9);
}

[data-theme="dark"] .social-media-card-container:hover {
    filter: brightness(1.2);
}

.gradient-border {
    position: relative;
    padding-top: 10px; /* Increased to accommodate the top border */
}

.gradient-border::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0; /* Changed to top */
    width: 100%;
    height: 5px; /* Height of the border */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%)); /* Gradient */
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 40px;
    gap: 10px;
    font-size: x-small;
}

.followers-amount {
    display: grid;
    place-items: center;
    margin-top: -30px;
}

.followers-amount h1 {
    margin-bottom: 0;
    font-size: 70px;
}

.followers-amount p {
    margin-top: 0;
    font-size: xx-small;
    letter-spacing: 5px;
    color: var(--text);
}

.joined-viewers-amount {
    display: grid;
    place-items: center;
    font-size: x-small;
    margin-top: 10px;
    font-weight: 750;
}